<body>
	<form
		action=""
		id="Reset_Password_Form"
		[formGroup]="loginUserData"
		(ngSubmit)="loginUser()"
	>
		<div class="form-group">
			<input
				type="email"
				class="form-control"
				placeholder="EMAIL ADDRESS"
				formControlName="email"
				name="email"
				[ngClass]="{
					'is-invalid':
						submitted && loginUserData.controls['email'].errors
				}"
				autofocus
			/>
			<div
				*ngIf="submitted && loginUserData.controls['email'].errors"
				class="invalid-feedback"
			>
				<!-- <div *ngIf="loginUserData.controls['email'].errors.required">
					Email is required
				</div>
				<div *ngIf="loginUserData.controls['email'].errors.email">
					Email must be a valid email address
				</div> -->
			</div>
		</div>
		<div class="form-group">
			<input
				type="password"
				class="form-control"
				placeholder="PASSWORD"
				formControlName="password"
				name="password"
				[ngClass]="{
					'is-invalid':
						submitted && loginUserData.controls['password'].errors
				}"
			/>
			<div
				*ngIf="submitted && loginUserData.controls['password'].errors"
				class="invalid-feedback"
			>
				<!-- <div *ngIf="loginUserData.controls['password'].errors.required">
					Password is required
				</div> -->
			</div>
		</div>
		<div class="form-group">
			<button
				class="btn btn-success"
				id="Submit_New_Password"
				type="submit"
			>
				Login
			</button>
		</div>
		<div class="form-group">
			<a
				class="btn btn-link"
				[routerLink]="['/forgot-password']"
				id="No_Powercard_Link"
				>Forgot Password?</a
			>
		</div>
		<div class="form-group">
			<a
				class="btn btn-link"
				[routerLink]="['/register']"
				id="No_Powercard_Link"
				>Not yet registered? Register here.</a
			>
		</div>
	</form>
</body>
