<body>
	<form
		action=""
		id="Reset_Password_Form"
		[formGroup]="loginUserData"
		(ngSubmit)="loginUser()"
	>
		<div class="form-group">
			<input
				type="email"
				class="form-control"
				placeholder="EMAIL ADDRESS"
				formControlName="email"
				name="email"
			/>
		</div>
		<div class="form-group">
			<input
				type="password"
				class="form-control"
				placeholder="PASSWORD"
				formControlName="password"
				name="password"
			/>
		</div>
		<div class="form-group">
			<button
				class="btn btn-success"
				id="Submit_New_Password"
				type="submit"
			>
				Login
			</button>
		</div>
		<div class="form-group">
			<a
				class="btn btn-link"
				[routerLink]="['/forgot-password']"
				id="No_Powercard_Link"
				>Forgot Password?</a
			>
		</div>
		<div class="form-group">
			<a
				class="btn btn-link"
				[routerLink]="['/register']"
				id="No_Powercard_Link"
				>Not yet registered? Register here.</a
			>
		</div>
	</form>
</body>
