<div class="row">
	<div class="col-md-12">
		<kt-portlet>
			<kt-portlet-header>
				<ng-container ktPortletTitle>
					<h3 class="kt-portlet__head-title">
						<span>Power Card Edit</span>
					</h3>
				</ng-container>
				<ng-container ktPortletTools>
					<!-- buttons here -->
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="mat-table__wrapper">
					<!-- contents here -->

					<form
						[formGroup]="powerCardForm"
						(ngSubmit)="onSubmit()"
						*ngIf="form"
					>
						<div class="form-row">
							<div class="col-md-4 mb-3">
								<label for="validationDefault01">Key ID</label>
								<input
									type="text"
									class="form-control"
									name="key_id"
									formControlName="key_id"
									[(ngModel)]="form.key_id"
									required
									[ngClass]="{
										'is-invalid':
											submitted &&
											powerCardForm.controls['key_id']
												.errors
									}"
									disabled
								/>
								<div
									*ngIf="
										submitted &&
										powerCardForm.controls['key_id'].errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											powerCardForm.controls['key_id']
												.errors.required
										"
									>
										Key ID is required
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="validationDefault02">Pin</label>
								<input
									type="text"
									class="form-control"
									name="pin"
									formControlName="pin"
									[(ngModel)]="form.pin"
									required
									[ngClass]="{
										'is-invalid':
											submitted &&
											powerCardForm.controls['pin'].errors
									}"
									disabled
								/>
								<div
									*ngIf="
										submitted &&
										powerCardForm.controls['pin'].errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											powerCardForm.controls['pin'].errors
												.required
										"
									>
										Pin is required
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="validationDefault02"
									>Email Address</label
								>
								<input
									type="text"
									class="form-control"
									id="validationDefault02"
									name="email"
									formControlName="email"
									[(ngModel)]="form.email"
									required
									[ngClass]="{
										'is-invalid':
											submitted &&
											powerCardForm.controls['email']
												.errors
									}"
									autofocus
									disabled
								/>
								<div
									*ngIf="
										submitted &&
										powerCardForm.controls['email'].errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											powerCardForm.controls['email']
												.errors.required
										"
									>
										Email is required
									</div>
									<div
										*ngIf="
											powerCardForm.controls['email']
												.errors.email
										"
									>
										Email must be a valid email address
									</div>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-4 mb-3">
								<label for="validationDefault01"
									>Username</label
								>
								<input
									type="text"
									class="form-control"
									id="validationDefault01"
									name="userName"
									formControlName="userName"
									[(ngModel)]="form.userName"
									required
									[ngClass]="{
										'is-invalid':
											submitted &&
											powerCardForm.controls['userName']
												.errors
									}"
									disabled
								/>
								<div
									*ngIf="
										submitted &&
										powerCardForm.controls['userName']
											.errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											powerCardForm.controls['userName']
												.errors.required
										"
									>
										username is required
									</div>
								</div>
							</div>
							<div class="col-md-4 mb-3">
								<label for="validationDefault04">Status</label>
								<select
									class="custom-select"
									name="status"
									formControlName="status"
									[(ngModel)]="form.status"
									disabled
								>
									<option selected disabled value=""
										>Choose...</option
									>
									<option value="Active">Active</option>
									<option value="Inactive">Inactive</option>
								</select>
							</div>
							<div class="col-md-4 mb-3">
								<label for="validationDefault04"
									>IsDisabled</label
								>
								<select
									class="custom-select"
									name="isDisabled"
									formControlName="isDisabled"
									[(ngModel)]="form.isDisabled"
									required
								>
									<option selected disabled value=""
										>Choose...</option
									>
									<option value="true">Enable</option>
									<option value="false">Disable</option>
								</select>
							</div>
						</div>
						<button
							class="btn btn-success 		"
							type="submit"
							style="float: right;"
						>
							Update Form
						</button>
					</form>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
