body,
html {
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 100vh;
	background-image: url("../../../assets/images/reset_password_page_clear.jpg");
	background-attachment: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden !important;
}

#Reset_Password_Form {
	position: relative;
	top: 40%;
	left: 3.7%;
	width: 46%;
	height: 40%;
}

#Reset_Password_Form > div {
	margin: 2.25% 0%;
	height: 23.33%;
	width: 100%;
}

input[type="password"] {
	border: 4px solid #7ac03c;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
input[type="text"] {
	border: 4px solid #7ac03c;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

#Submit_New_Password {
	position: relative;
	background-image: linear-gradient(-90deg, rgb(166, 228, 42), green);
	background-repeat: no-repeat;
	background-size: cover;
	left: 25%;
	width: 50%;
	height: 100%;
	text-align: center;
	border-radius: 50px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bolder;
	color: white;
	box-shadow: 5px 5px darkgreen;
}

@media only screen and (max-width: 1024px) and (min-width: 320px) {
	#Reset_Password_Form {
		position: relative;
		background-color: transparent;
		left: 10%;
		top: 30%;
		width: 80%;
		height: 50%;
	}

	input[type="password"] {
		font-size: 1rem;
	}

	#Submit_New_Password {
		position: relative;
		background-image: linear-gradient(-90deg, rgb(166, 228, 42), green);
		background-repeat: no-repeat;
		background-size: cover;
		left: 25%;
		width: 50%;
		height: 100%;
		text-align: center;
		border-radius: 50px;
		text-align: center;
		font-size: 2rem;
		font-weight: bolder;
		word-break: normal;
		word-wrap: break-word;
		color: white;
	}
}
@media only screen and (min-width: 768px) {
	input[type="password"] {
		font-size: 3rem;
	}

	#Submit_New_Password {
		position: relative;
		background-image: linear-gradient(-90deg, rgb(166, 228, 42), green);
		background-repeat: no-repeat;
		background-size: cover;
		left: 25%;
		width: 50%;
		height: 100%;
		text-align: center;
		border-radius: 50px;
		text-align: center;
		font-size: 3rem;
		font-weight: bolder;
		word-break: normal;
		word-wrap: break-word;
		color: white;
	}
	input[type="text"] {
		border: 4px solid #7ac03c;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 3rem;
		font-weight: bold;
	}
}
