<kt-main-nav>
	<body>
		<form action="" id="Reset_Password_Form" [formGroup]="urlForm">
			<div class="form-group">
				<input
					type="text"
					class="form-control"
					name="userName"
					formControlName="userName"
				/>
			</div>
			<div class="form-group">
				<span>Copy this link and share it with your friends.</span>
			</div>
			<div class="form-group">
				<button
					class="btn btn-success"
					id="Submit_New_Password"
					type="submit"
					(click)="copyUrl(URL)"
				>
					Copy
				</button>
			</div>
		</form>
	</body>
</kt-main-nav>
