<div class="profile-container">
	<div>
		<div>
			<div class="photo--container">
				<div class="photo">
					<img
						src="https://assets3.thrillist.com/v1/image/2855068/size/tmg-slideshow_l.jpg"
						alt=""
					/>
				</div>
			</div>
		</div>
		<div>
			<div class="greetings">Welcome to My Site at First Vita Plus</div>
		</div>
		<div>
			<div class="name-container">
				{{ forms.firstName }} {{ forms.lastName }},
			</div>
		</div>
	</div>
	<div class="data-container">
		<div class="row">
			<p class="col-lg-4 col-12">BA No.:{{ forms?.contactNumber }}</p>
			<p class="col-lg-4 col-12">Birthdate: {{ forms?.contactNumber }}</p>
			<p class="col-lg-4 col-12">Dealer Date?: 00/00/0000</p>
		</div>
	</div>
</div>
