.greetings {
	text-align: center;
	font-size: 50px;
}
.name-container {
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	color: orange;
}
.data-container {
	height: 15rem;
	width: 100%;
	padding: 50px;
	background-color: #88b84a;
	color: white;
	text-align: center;
}
.data-container > p {
	font-size: 45px;
	font-weight: bolder;
}
