<body>
	<form
		action=""
		id="Registration_Form"
		[formGroup]="forgotPasswordForm"
		(ngSubmit)="onSubmit()"
	>
		<div class="row form-group">
			<input
				type="email"
				class="form-control"
				placeholder="ENTER EMAIL ADDRESS"
				name="email"
				formControlName="email"
				[ngClass]="{
					'is-invalid':
						submitted && forgotPasswordForm.controls['email'].errors
				}"
				autofocus
			/>
			<div
				*ngIf="submitted && forgotPasswordForm.controls['email'].errors"
				class="invalid-feedback"
			>
				<div
					*ngIf="forgotPasswordForm.controls['email'].errors.required"
				>
					Email is required
				</div>
				<div *ngIf="forgotPasswordForm.controls['email'].errors.email">
					Email must be a valid email address
				</div>
			</div>
		</div>
		<div class="row form-group">
			<span class="_undernote"
				>Password reset will be sent to this email.</span
			>
		</div>
		<div class="row form-group">
			<button
				class="btn btn-success"
				id="Submit_Email_For_Password_Change"
				type="submit"
			>
				SUBMIT
			</button>
		</div>
	</form>
</body>
