<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous"
/>
<script
	src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	crossorigin="anonymous"
></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"
></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"
></script>

<body>
	<div class="container">
		<div class="form">
			<h1>Congratulations!</h1>
			<p>
				You have successfully activated your account. Please enter your
				personal details. All details will be displayed on your website.
			</p>

			<form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
				<fieldset>
					<legend>Profile Details</legend>
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationDefault01">First name</label>
							<input
								type="text"
								class="form-control"
								name="firstName"
								placeholder="Antonio"
								formControlName="firstName"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['firstName']
											.errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['firstName'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['firstName']
										.errors.required
								"
							>
								First Name is required
							</div>
						</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault02">Last name</label>
							<input
								type="text"
								class="form-control"
								name="lastName"
								formControlName="lastName"
								placeholder="Dela Cruz"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['lastName']
											.errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['lastName'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['lastName']
										.errors.required
								"
							>
								Last Name is required
							</div>
						</div>


						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault01">Middle name</label>
							<input
								type="text"
								class="form-control"
								placeholder="Davila"
								name="middleName"
								formControlName="middleName"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['middleName']
											.errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['middleName'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['middleName']
										.errors.required
								"
							>
								Middle Name is required
							</div>
						</div>

						</div>
					</div>
					<div class="form-row">
						<div class="col-md-4 mb-3">
							<label for="validationDefault01">Username</label>
							<input
								type="text"
								class="form-control"
								placeholder="JuanDelaCruz15"
								name="userName"
								formControlName="userName"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['userName']
											.errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['userName'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['userName']
										.errors.required
								"
							>
								Username is required
							</div>
						</div>

						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault02"
								>Email Address</label
							>
							<input
								type="text"
								class="form-control"
								placeholder="JuanDelaCruz15@yahoo.com"
								name="email"
								formControlName="email"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['email'].errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['email'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['email']
										.errors.required
								"
							>
								Email is required
							</div>
							<div
								*ngIf="
									personalForm.controls['email']
										.errors.email
								"
							>
								Email must be a valid email address
							</div>
						</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault01">Password</label>
							<input
								type="password"
								class="form-control"
								name="password"
								formControlName="password"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['password']
											.errors
								}"
								required
							/>
							<div *ngIf="submitted && personalForm.controls['password'].errors" class="invalid-feedback">
									<div *ngIf="personalForm.controls['password'].errors.required">Password is required</div>
									<div *ngIf="personalForm.controls['password'].errors.minlength">Password must be at least 6 characters</div>
								</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="validationDefault01"
								>Confirm Password</label
							>
							<input
								type="password"
								class="form-control"
								name="password2"
								formControlName="password2"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['password2']
											.errors
								}"
								required
							/>
							<div *ngIf="submitted && personalForm.controls['password2'].errors" class="invalid-feedback">
									<div *ngIf="personalForm.controls['password2'].errors.required">Confirm Password is required</div>
									<div *ngIf="personalForm.controls['password2'].errors.mustMatch">Passwords must match</div>
								</div>
						</div>
					</div>

					<hr size="30" />
					<legend>Contact Details</legend>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault01"
								>Contact Number</label
							>
							<input
								type="text"
								class="form-control"
								placeholder="+63922xxxxxxx"
								name="contactNumber"
								formControlName="contactNumber"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['contactNumber']
											.errors
								}"
								required
							/>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['contactNumber'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['contactNumber']
										.errors.required
								"
							>
								Contact Number is required
							</div>
						</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="validationDefault02">Address</label>
							<textarea
								class="form-control"
								placeholder="Unit 206, The Hope Condominium Tower 2,Chino Roces Ave., Brgy. Pio Del Pilar 1230 Makati City, Metro Manila"
								rows="3"
								name="address"
								formControlName="address"
								[ngClass]="{
									'is-invalid':
										submitted &&
										personalForm.controls['address'].errors
								}"
								required
							></textarea>
							<div
							*ngIf="
								submitted &&
								personalForm.controls['address'].errors
							"
							class="invalid-feedback"
						>
							<div
								*ngIf="
									personalForm.controls['address']
										.errors.required
								"
							>
								Address is required
							</div>
						</div>
						</div>
					</div>

					<hr size="30" />
					<legend>Online Store</legend>
					<div class="form-row">
						<div class="col-md-6 mb-3">
							<label for="validationDefault01"
								>Do you have online store? (optional)</label
							>
							<input
								type="text"
								class="form-control"
								placeholder="Enter online store URL here"
								name="onlineStore"
								formControlName="onlineStore"
								required
							/>
						</div>
					</div>

					<button
						class="btn btn-success"
						type="submit"
						style="float: right;"
					>
						Submit
					</button>
				</fieldset>
			</form>
		</div>
	</div>
</body>
