$textbox-color: #112b02;

body,
html {
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;

	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../../../../assets/images/profile\ details\ bg.jpg");
	background-size: cover; /* <------ */
	background-repeat: no-repeat;
	background-position: center center;
}
h1 {
	color: rgb(5, 172, 5);
}
p {
}
fieldset {
	background-color: white;
	color: black;
	padding: 20px;
}
.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
legend {
	background-color: rgb(30, 184, 30);
	color: #fff;
	padding: 3px 6px;
}
@media screen and (max-width: 550px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
}
@media screen and (min-width: 550px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
}
