$textbox-color: #112b02;

body {
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0%;
	padding: 0%;
	width: 100%;
	font-weight: bolder;
	background-image: url("../../../../assets/images/profile\ details\ bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-overflow-scrolling: touch;
	display: block;
}
h1 {
	color: rgb(5, 172, 5);
}
span {
	font-style: italic;
	font-size: 0.9em;
}

fieldset {
	background-color: white;
	color: black;
	padding: 20px;
}
.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
legend {
	background-color: rgb(30, 184, 30);
	color: #fff;
	padding: 3px 6px;
}
@media screen and (max-width: 550px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
}
@media screen and (min-width: 550px) {
	h1 {
		font-size: 40px;
	}
	p {
		font-size: 18px;
	}
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */

	body {
	}
}
