<div class="row">
	<div class="col-md-12">
		<kt-portlet>
			<kt-portlet-header>
				<ng-container ktPortletTitle>
					<h3 class="kt-portlet__head-title">
						<span>View Power Card</span>
					</h3>
				</ng-container>
				<ng-container ktPortletTools>
					<!-- buttons here -->
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<div class="mat-table__wrapper">
					<!-- contents here -->
					<form>
						<div class="form-group">
							<label for="exampleInputEmail1">key_id</label>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.key_id }}"
								disabled
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">pin</label>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.pin }}"
								disabled
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">email</label>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.email }}"
								disabled
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">userName</label>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.userName }}"
								disabled
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">status</label>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.status }}"
								disabled
							/>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1"
								>isDisabled</label
							>
							<input
								type="text"
								class="form-control"
								value="{{ forms?.isDisabled }}"
								disabled
							/>
						</div>
					</form>
				</div>
				<button
					type="button"
					class="btn btn-success btn-lg btn-block"
					(click)="onClick()"
				>
					Go to PowerCard List
				</button>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
