<link
	href="https://fonts.googleapis.com/css?family=Squada+One&display=swap"
	rel="stylesheet"
/>
<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="(isHandset$ | async) === false"
	>
		<!-- <mat-toolbar>Menu</mat-toolbar> -->
		<img
			src="../../assets/images/fvp_FVP Logo.png"
			alt=""
			style="width: 100%;
		height: 15%;"
		/>
		<mat-nav-list>
			<a mat-list-item [routerLink]="['/URL-Details']"><h2>MySite</h2></a>
			<ul style="list-style-type:none">
				<li>
					<a mat-list-item [routerLink]="['/URL-Details']"
						><p>URL</p></a
					>
				</li>
			</ul>

			<a mat-list-item [routerLink]="['/URL-Details']"
				><h2>Profile</h2></a
			>
			<ul style="list-style-type:none">
				<li>
					<a mat-list-item [routerLink]="['/personal-details/dealer']"
						><p>Personal Details</p></a
					>
				</li>
				<li>
					<a
						mat-list-item
						[routerLink]="['/personal-details/contact']"
						><p>
							Contact Details
						</p></a
					>
				</li>
			</ul>
			<a mat-list-item [routerLink]="['/personal-details/online-store']"
				><h2>Online Store</h2></a
			>
			<a mat-list-item [routerLink]="['/dealerlogin']"><h2>Logout</h2></a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isHandset$ | async"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>Vita Plus</span>
		</mat-toolbar>
		<!-- Add Content Here -->
		<ng-content> </ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
