<body>
	<form
		action=""
		id="Reset_Password_Form"
		[formGroup]="forgotPasswordForm"
		(ngSubmit)="onSubmit()"
	>
		<div class="form-group">
			<input
				type="password"
				class="form-control"
				placeholder="Enter New Password Here"
				name="changePassword"
				formControlName="changePassword"
				[ngClass]="{
					'is-invalid':
						submitted &&
						forgotPasswordForm.controls['changePassword'].errors
				}"
				required
			/>
			<div
				*ngIf="
					submitted &&
					forgotPasswordForm.controls['changePassword'].errors
				"
				class="invalid-feedback"
			>
				<div
					*ngIf="
						forgotPasswordForm.controls['changePassword'].errors
							.required
					"
				>
					Password is required.
				</div>
				<div
					*ngIf="
						forgotPasswordForm.controls['changePassword'].errors
							.minlength
					"
				>
					Password must be at least 6 characters.
				</div>
			</div>
		</div>

		<div class="form-group">
			<input
				type="password"
				class="form-control"
				placeholder="Confirm New Password Here"
				name="password2"
				formControlName="password2"
				[ngClass]="{
					'is-invalid':
						submitted &&
						forgotPasswordForm.controls['password2'].errors
				}"
				required
			/>
			<div
				*ngIf="
					submitted && forgotPasswordForm.controls['password2'].errors
				"
				class="invalid-feedback"
			>
				<div
					*ngIf="
						forgotPasswordForm.controls['password2'].errors.required
					"
				>
					Confirm Password is required.
				</div>
				<div
					*ngIf="
						forgotPasswordForm.controls['password2'].errors
							.minlength
					"
				>
					Confirm Password must be at least 6 characters.
				</div>
				<div
					*ngIf="
						forgotPasswordForm.controls['password2'].errors
							.mustMatch
					"
				>
					Confirm Passwords must match.
				</div>
			</div>
		</div>
		<div class="form-group">
			<button
				class="btn btn-success"
				id="Submit_New_Password"
				type="submit"
			>
				Reset Password
			</button>
		</div>
	</form>
</body>
