<kt-main-nav>
	<body>
		<div class="container _mainContainer">
			<div class="row">
				<div class="col-12">
					<form action="" [formGroup]="profileForm">
						<h3>Online Store Details</h3>
						<div class="row">
							<div class="col-md-6 col-12 form-group">
								<label>Do you have online store?</label>
								<input
									type="text"
									class="form-control"
									disabled
									name="contactNumber"
									formControlName="onlineStore"
								/>
							</div>
						</div>
						<div class="row _submitContainer">
							<div class="offset-md-8 col-md-4 col-12 form-group">
								<a
									class="btn btn-success _submit"
									(click)="onEdit()"
									>Edit</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</kt-main-nav>
