<kt-main-nav>
	<body>
		<div class="container _mainContainer">
			<div class="row">
				<div class="col-12">
					<form action="" [formGroup]="profileForm">
						<h3>Edit Personal Contact Details</h3>
						<div class="row">
							<div class="col-md-6 col-12 form-group">
								<label>Contact Number</label>
								<input
									type="tel"
									class="form-control"
									name="contactNumber"
									value="{{ forms?.contactNumber }}"
									[ngClass]="{
										'is-invalid':
											submitted &&
											profileForm.controls[
												'contactNumber'
											].errors
									}"
								/>
								<span
									>This number will be shown in your
									profile</span
								>
								<div
									*ngIf="
										submitted &&
										profileForm.controls['contactNumber']
											.errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											profileForm.controls[
												'contactNumber'
											].errors.required
										"
									>
										Contact Number is required.
									</div>
								</div>
							</div>
							<div class="col-md-6 col-12 form-group">
								<label>Address</label>
								<textarea
									class="form-control"
									name="address"
									formControlName="address"
									value="{{ forms?.address }}"
									[ngClass]="{
										'is-invalid':
											submitted &&
											profileForm.controls['address']
												.errors
									}"
								></textarea>
								<div
									*ngIf="
										submitted &&
										profileForm.controls['address'].errors
									"
									class="invalid-feedback"
								>
									<div
										*ngIf="
											profileForm.controls['address']
												.errors.required
										"
									>
										Address is required.
									</div>
								</div>
							</div>
						</div>
						<div class="row _submitContainer">
							<div class="offset-md-8 col-md-4 col-12 form-group">
								<a
									class="btn btn-success _submit"
									(click)="onSubmit()"
									>Update</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body></kt-main-nav
>
