* {
	margin: 0;
	padding: 0;
}
/* html,
  body {
	background-color: blanchedalmond;
  } */

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../../../assets/images/ZgOm-AoQ.png");
	background-size: cover; /* <------ */
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}

// body[kt-root] {
// 	font-family: Arial, Helvetica, sans-serif;
// 	background-image: url("../../../assets/images/ZgOm-AoQ.png");

// 	background-size: cover;
// }

input[type="text"] {
	font-size: 30px;
	text-align: center;
	background: transparent;
	border: 3px solid rgb(5, 172, 5);
	border-radius: 20px;
	height: 80px;
	padding: 12px 20px;
	font-weight: bolder;
	color: black;
}
button[type="submit"] {
	border-radius: 50px;
	font-weight: bolder;
	width: 200px;
	background-image: linear-gradient(-90deg, rgb(166, 228, 42), green);
}
.form {
	padding-top: 70px;
}
.button {
	text-align: center;
}
.logo {
	height: 150px;
	width: 100%;
	padding-top: 40px;
}
.logo2 {
	width: 100%;
}
.form-group {
	padding-top: 20px;
}
@media screen and (min-width: 1138px) {
	.logo {
		height: 50%;
		width: 70%;
	}

	body {
		background-color: white;
	}
}
@media screen and (max-width: 500px) {
	h1 {
		padding-top: 20px;
	}
	input[type="text"] {
		font-size: 30px;
	}
	.logo2 {
		padding-top: 20px;
	}
}
/* @media screen and (max-width: 500px) {
	.coll-1 {
	  position: absolute;
	  z-index: 1;
	}
	.coll-2 {
	  z-index: 1;
	}
  } */
