body {
	/*remove background-image if you want other background*/
	font-size: 20px;
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 100vh;
	background-image: url("../../../../assets/images/profile\ details\ bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 20px;
	padding-top: 80px;
}
h3 {
	color: green;
}

form {
	font-size: 1.5rem;
	color: darkgreen;
}

form input[type="text"] {
	position: relative;
	resize: none;
	border: 3px outset #7ed245;
}
form input[type="email"] {
	position: relative;
	resize: none;
	border: 3px outset #7ed245;
}
form input[type="password"] {
	position: relative;
	resize: none;
	border: 3px outset #7ed245;
}
._mainContainer {
	width: 100%;
}

.navbar {
	background-image: linear-gradient(90deg, #4ec10a, #84dc16);
}
._navLogo {
	display: block;
	width: 96px;
	height: 100%;
	background-size: 32px 32px;
}

.dropdown-menu {
	background-image: linear-gradient(to bottom, #4ec10a, #84dc16);
}

.navbar > #navbarSupportedContent li:hover a:hover {
	background-image: linear-gradient(to right, #378609, #d1ff04);
}

._submit {
	margin-left: 10%;
	width: 80%;
}

._submit:hover {
	background-image: linear-gradient(to right, #378609, #d1ff04);
}
