<kt-main-nav>
	<body>
		<div class="container _mainContainer">
			<div class="row">
				<div class="col-12">
					<form action="" [formGroup]="profileForm">
						<h3>Dealer Personal Details</h3>
						<div class="row">
							<div class="col-md-4 col-12 form-group">
								<label>Last Name</label>
								<input
									type="text"
									class="form-control"
									disabled
									name="lastName"
									formControlName="lastName"
								/>
							</div>
							<div class="col-md-4 col-12 form-group">
								<label>First Name</label>
								<input
									type="text"
									class="form-control"
									disabled
									name="firstName"
									formControlName="firstName"
								/>
							</div>
							<div class="col-md-4 col-12 form-group">
								<label>Middle Name</label>
								<input
									type="text"
									class="form-control"
									name="middleName"
									disabled
									formControlName="middleName"
								/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-12 form-group">
								<label>Password</label>
								<input
									type="password"
									class="form-control"
									disabled
									name="password"
									formControlName="password"
								/>
							</div>
							<div class="col-md-4 col-12 form-group">
								<label>Email</label>
								<input
									type="email"
									class="form-control"
									disabled
									name="email"
									formControlName="email"
								/>
							</div>
						</div>
						<div class="row _submitContainer">
							<div class="offset-md-8 col-md-4 col-12 form-group">
								<a
									class="btn btn-success _submit"
									[routerLink]="[
										'/personal-details/dealer-edit'
									]"
									>Edit</a
								>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</kt-main-nav>
