<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap"
			rel="stylesheet"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
		/>
		<link
			rel="shortcut icon"
			type="image/png"
			href="../../assets/images/home/topicon.png"
		/>
		<title>FVP || Home</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light rounded-bottom ">
			<a class="navbar-brand" href="#"
				><img src="../../assets/images/home/bg/FVP logo.png" alt="Logo"
			/></a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="true"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item ">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/aboutus.html"
							target="_blank"
							>About Us</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/dealership.html"
							target="_blank"
							>Dealership</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/products.html"
							target="_blank"
							>Products</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/news.html"
							target="_blank"
							>News</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/speakers.html"
							target="_blank"
							>Features</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="http://firstvitaplus.net/corpoffice.html"
							target="_blank"
							>Contact Us</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#dealer">Become A Dealer</a>
					</li>
				</ul>
			</div>
		</nav>

		<header class="header">
			<img
				src="../../assets/images/home/bg/banner.png"
				alt="header image"
				class="header__responsive"
			/>
		</header>

		<main>
			<!-- Start of PROFILE PART -->

			<!-- <section class="info">
        <div class="info__head">
          <div class="header__info--image"><img src="/images/bg/banner.png" alt="cover"></div>

          <div class="info__picframe">
            <img src="/images/profile pic.png" alt="profile pic">
          </div>

          <div class="info__welcome">
            <p>Welcome to My site at First Vita Plus</p>
            <h2>Juan Dela Cruz</h2>
          </div>
          <div class="info__basic">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-sm-4">Birthdate</div>
                <div class="col-sm-4">dealership</div>
                <div class="col-sm-4">OTHER INFO</div>
                <div class="col-sm-4">other info</div>
                <div class="col-sm-4">other info</div>
                <div class="col-sm-4">other info</div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

			<!--End of PROFILE PART -->

			<section class="section-about ">
				<div class="container u-margin-bottom-medium">
					<h3 class="about__heading u-text-center ">
						<a href="http://firstvitaplus.net/overview.html"
							>What is First Vita Plus
						</a>
					</h3>
					<p class="about__description">
						First Vita Plus is your vitamin and vitality in a drink
						and this website will show you how wellness, wholeness
						and well-being can be within your reach! Explore the
						natural wonders of our all natural health drink and get
						a glimpse of its wonderful goodness through our vibrant
						visuals that will surely delight the senses. Discover
						how this unique and first-of-its-kind product can give
						you a healthy lifestyle and a revitalized body that will
						surely amaze you with its energy boost, added strength
						and natural glow. Get to know the formidable team behind
						this incredible product and learn about their amazing
						journey towards this innovative discovery. Let our
						nutritional fact sheet guide you. Learn more about the
						power packed herbs and see for yourself how this herbal
						breakthrough can do wonders to your body.
					</p>
				</div>

				<div class="nutrition">
					<div class="nutrition__head u-margin-bottom-medium">
						<h3>Nutritional Benefit</h3>
						<p>
							The nutraceutical benefits of these five (5)
							nutritional vegetables:
						</p>
					</div>

					<div class="row justify-content-sm-center">
						<!-- Dont forget the divs for column bootstrap -->
						<div class="col-md-2">
							<div class="benefit ">
								<a
									href="http://firstvitaplus.net/vit_malunggay.html"
									><img
										src="../../assets/images/home/gulay/fvp_malungay.png"
										alt="malunggay"
										class="benefit__image"
								/></a>
								<div>
									<p class="benefit__paragraph--main">
										<a
											href="http://firstvitaplus.net/vit_malunggay.html"
											>Malunggay
											<span>(Moringa Oleifera)</span></a
										>
									</p>
									<p class="benefit__paragraph--sub">
										Scientific research has proven that
										these humble leaves are in fact a
										ppowerhouse of nutritional value.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="benefit">
								<a
									href="http://firstvitaplus.net/vit_dahonsili.html"
									><img
										src="../../assets/images/home/gulay/fvp_dahon ng sili.png"
										alt="Dahon ng sili"
										class="benefit__image"
								/></a>
								<div>
									<p class="benefit__paragraph--main">
										<a
											href="http://firstvitaplus.net/vit_dahonsili.html"
											>Dahon ng Sili
											<span
												>(Capsicum Frutescens)</span
											></a
										>
									</p>
									<p class="benefit__paragraph--sub">
										An exellent source of calcium and iron,
										phosphorous, vitamin A and B.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="benefit">
								<a
									href="http://firstvitaplus.net/vit_saluyot.html"
									><img
										src="../../assets/images/home/gulay/fvp_saluyot.png"
										alt="Saluyot"
										class="benefit__image"
								/></a>
								<div>
									<p class="benefit__paragraph--main">
										<a
											href="http://firstvitaplus.net/vit_saluyot.html"
										>
											Saluyot
											<span>(CorchorusOlitorius)</span></a
										>
									</p>
									<p class="benefit__paragraph--sub">
										Be a remedy for aches and pains,
										dysentery, enteritis, ferver and
										pectoral pains.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="benefit">
								<a href="http://firstvitaplus.net/vit_uray.html"
									><img
										src="../../assets/images/home/gulay/fvp_uray.png"
										alt="Uray"
										class="benefit__image"
								/></a>

								<div>
									<p class="benefit__paragraph--main">
										<a
											href="http://firstvitaplus.net/vit_uray.html"
											>Uray
											<span
												>(Amaranthus Spinosus)</span
											></a
										>
									</p>
									<p class="benefit__paragraph--sub">
										A Good expectorant and an effective
										astrigent expecially in stopping liquid
										bowel movement.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="benefit">
								<a
									href="http://firstvitaplus.net/vit_talboskamote.html"
									><img
										src="../../assets/images/home/gulay/fvp_talbos ng kamote.png"
										alt="Talbos ng kamote"
										class="benefit__image"
								/></a>
								<div>
									<p class="benefit__paragraph--main">
										<a
											href="http://firstvitaplus.net/vit_talboskamote.html"
											>Talbos ng Kamote
											<span>(Ipomoea Batatas)</span></a
										>
									</p>
									<p class="benefit__paragraph--sub">
										Used for diabetes and the crush leaves
										are applied to boils and acne.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section-dealer">
				<div class="store container">
					<div class="row no-gutters">
						<div class="col-sm-5">
							<div class="store__info">
								<h2>My Online Store</h2>
								<p>
									A more convinient way of making all your FVP
									product purchases.
								</p>
								<button class="btn btn--1">
									<a
										href="http://www.fvp.ph/login?back=my-account
                  "
										>Shop now</a
									>
								</button>
							</div>
						</div>

						<div class="col-sm-7">
							<img
								src="../../assets/images/home/products.png"
								alt="products"
								class="store__image"
							/>
						</div>
					</div>
				</div>

				<div class="dealer" id="dealer">
					<div class="container">
						<div class="dealer__intro ">
							<h3>Be a Vita Plus Dealer now!</h3>
							<p>
								Learn how to becomea local or an International
								First Vita Plus Dealer and enjoy all the
								advantages and benefits of becoming one!
							</p>
						</div>

						<div class="row no-gutters">
							<div class="col-sm-4">
								<div class="dealer__card">
									<div>
										<a
											href="http://firstvitaplus.net/dealership.html"
											><img
												src="../../assets/images/home/beadelar.png"
												alt="dealer"
										/></a>
									</div>
									<div>
										<p class="dealer__card--title">
											<a
												href="http://firstvitaplus.net/dealership.html"
												>Be a Dealer</a
											>
										</p>
										<p>
											Learn how to become a local or an
											international First Vita Plus Dealer
											and enjoy all the advantages and
											benefits of becoming one!
										</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="dealer__card">
									<div>
										<a
											href="http://firstvitaplus.net/seminar.html"
											><img
												src="../../assets/images/home/seminar.png"
												alt="seminar"
										/></a>
									</div>
									<div>
										<p class="dealer__card--title">
											<a
												href="http://firstvitaplus.net/seminar.html"
												>Seminar Schedule</a
											>
										</p>
										<p>
											See this month's FVP Trainings,
											Talks, Symposiums, etc. if you
											subsribe and become a First Vita
											Plus Dealer.
										</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="dealer__card">
									<div>
										<a
											href="http://firstvitaplus.net/kavitaan.html"
											><img
												src="../../assets/images/home/businessplan.png"
												alt="plan"
										/></a>
									</div>
									<div>
										<p class="dealer__card--title">
											<a
												href="http://firstvitaplus.net/kavitaan.html"
												>Business Plan</a
											>
										</p>
										<p>
											Meet the amazing Official Speakers
											who work tirelessly to spread the
											good message about First Vita Plus
											across the Philippines and beyond.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="section-others">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-sm-4">
							<div class="others">
								<a
									href="http://firstvitaplus.net/newsandevents.html"
									target="_blank"
									><img
										src="../../assets/images/home/others/news promos and events.png"
										alt="news"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="http://firstvitaplus.net/newsandevents.html"
											target="_blank"
											>News, Promos, and events</a
										>
									</p>
									<p>
										See the latest news, promos, upcoming
										corporate and dealer events in the First
										Vita Plus World!
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="others">
								<a href="https://gen.fvp.ph/" target="_blank"
									><img
										src="../../assets/images/home/others/geneology.png"
										alt="genealogy"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="https://gen.fvp.ph/"
											target="_blank"
											>Request Genealogy</a
										>
									</p>
									<p>
										See your latest cut-off Genealogy
										Repost. A valid and active email address
										is required.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="others">
								<a
									href="http://firstvitaplus.net/speakers.html"
									target="_blank"
									><img
										src="../../assets/images/home/others/testimony.png"
										alt="testimony"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="http://firstvitaplus.net/speakers.html"
											target="_blank"
											>Testimony</a
										>
									</p>
									<p>
										They are the living, breathing proof
										that if you put your faith in First Vita
										Plus and believe in the transformative
										powers of the business, you will go
										places.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="others">
								<a
									href="http://firstvitaplus.net/prodcenters.html"
									target="_blank"
									><img
										src="../../assets/images/home/others/products thumbnail.png"
										alt="products"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="http://firstvitaplus.net/prodcenters.html"
											target="_blank"
											>Products</a
										>
									</p>
									<p>
										The nutraceutical benefits of these five
										(5) nutritional vegetables: Malunggay |
										Dahon Ng Sili | Saluyot Uray | Talbos Ng
										Kamote
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="others">
								<a
									href="http://firstvitaplus.net/corpoffice.html"
									target="_blank"
									><img
										src="../../assets/images/home/others/philippines map.png"
										alt="ph"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="http://firstvitaplus.net/corpoffice.html"
											target="_blank"
											>FVP Philippines</a
										>
									</p>
									<p>
										Local Places that you can go to achieve
										your financial success through First
										Vita Plus!
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="others">
								<a
									href="http://firstvitaplus.net/global.html"
									target="_blank"
									><img
										src="../../assets/images/home/others/world map.png"
										alt="world"
										class="others__image"
								/></a>
								<div class="others__description">
									<p>
										<a
											href="http://firstvitaplus.net/global.html"
											target="_blank"
											>FVP International</a
										>
									</p>
									<p>
										In line with our goal to give to you
										"The First Vita Plus Global", First Vita
										Plus launches its newest strategic
										alliance with one of the largest
										financial conglomerates in the country
										today --- Security Bank.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="footer__navigation u-text-center">
				<ul class="footer__list">
					<li class="footer__item">
						<a
							href="https://twitter.com/fvpph"
							class="footer__link"
							target="_blank"
							><i class="fab fa-twitter"></i
						></a>
					</li>
					<li class="footer__item">
						<a
							href="https://www.instagram.com/fvpph"
							class="footer__link"
							target="_blank"
							><i class="fab fa-instagram"></i
						></a>
					</li>
					<li class="footer__item">
						<a
							href="https://www.facebook.com/FVPMCOfficial/"
							class="footer__link"
							target="_blank"
							><i class="fab fa-facebook"></i
						></a>
					</li>
				</ul>
			</div>

			<div class="footer__logo">
				<img
					src="../../assets/images/home/fvp_FVP Logo.png"
					alt="fvplogo"
					class="footer__logo-1"
				/>
			</div>
		</footer>

		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
