<body>
	<form
		action=""
		id="Reset_Password_Form"
		[formGroup]="loginUserData"
		(ngSubmit)="loginUser()"
	>
		<div class="form-group">
			<input
				type="email"
				class="form-control"
				placeholder="USERNAME"
				formControlName="userName"
				name="userName"
				[ngClass]="{
					'is-invalid':
						submitted && loginUserData.controls['userName'].errors
				}"
				autofocus
			/>
		</div>
		<div class="form-group">
			<input
				type="password"
				class="form-control"
				placeholder="PASSWORD"
				formControlName="password"
				name="password"
				[ngClass]="{
					'is-invalid':
						submitted && loginUserData.controls['password'].errors
				}"
			/>
		</div>
		<div class="form-group">
			<button
				class="btn btn-success"
				id="Submit_New_Password"
				type="submit"
			>
				Login
			</button>
		</div>
	</form>
</body>
